/* Reset some default styles */
body,
h1,
p {
    margin: 0;
    padding: 0;
}

/* Apply styles to the body */
body {
    font-family: 'Arial', sans-serif;
    color: #2c3e50;
    line-height: 1.6;
    padding: 20px;
    background-color: #7f8c8d;
}

/* Style the heading */
h1 {
    text-align: center;
}

/* Style paragraphs */
p {
    margin-bottom: 20px;
}

/* Style images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    /* Center images with some margin */
}

/* Add a border to images for illustration */
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

/* Apply styles to links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#main-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #95a5a6;
    border-radius: 25px;
    border: 2px solid #95a5a6;
    display: flexbox;
    flex-direction: column;
    padding: 0.5rem;
}



.image-container {
    position: relative;
}

.image-container:hover {
    transform: scale(2.5);
    z-index: 50000;
    margin: 0 auto;
}